<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>-->

<nav>
  <div id="teamThumb">
    <h2>Meet our Team!</h2>
    <div class="team">
      <div class="teamMember">
        <img src="//unsplash.it/120/120">
        <a href="/team/tonya">TONYA</a>
      </div>

      <div class="teamMember">
        <img src="//unsplash.it/120/120">
        <a href="/team/evica">EVICA</a>
      </div>

      <div class="teamMember">
        <img src="//unsplash.it/120/120">
        <a href="/team/sian">SIAN</a>
      </div>

      <div class="teamMember">
        <img src="//unsplash.it/120/120">
        <a href="/team/doyeon">DOYEON</a>
      </div>

      <div class="teamMember">
        <img src="//unsplash.it/120/120">
        <a href="/team/mamatha">MAMATHA</a>
      </div>
        
    </div> <!--end class team -->
  </div>  <!--end id team-thumb-->
</nav>

  <div id="teamDes">
    <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Consectetur ut perspiciatis magni eveniet repudiandae, ullam nam quibusdam fuga voluptas 
      doloremque natus architecto distinctio dolore nesciunt suscipit, illo qui pariatur nisi!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Consectetur ut perspiciatis magni eveniet repudiandae, ullam nam quibusdam fuga voluptas 
      doloremque natus architecto distinctio dolore nesciunt suscipit, illo qui pariatur nisi!"</p>
  </div>
