<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

        <header>
           <h1 class="hidden">PLAY FAIR</h1>
        </header>

  <nav id="navbar">
  <img src="//unsplash.it/250/80">
  </nav> 

      <section id="landing">
    <div id="teamIntro">
      <h2>Together we stand for the LGBTQ+ community</h2>
      <p>Interactive Media Design Students - Fanshawe College</p>
    </div>

    <nav>
    <div id="teamThumb">
      <h2>Meet our Team!</h2>
      <div class="team">
        <div class="teamMember">
          <img src="//unsplash.it/120/120">
         <a href="/team/tonya">TONYA</a>
        </div>

        <div class="teamMember">
          <img src="//unsplash.it/120/120">
          <a href="/team/evica">EVICA</a>
        </div>

        <div class="teamMember">
          <img src="//unsplash.it/120/120">
          <a href="/team/sian">SIAN</a>
        </div>

        <div class="teamMember">
          <img src="//unsplash.it/120/120">
          <a href="/team/doyeon">DOYEON</a>
        </div>

        <div class="teamMember">
          <img src="//unsplash.it/120/120">
           <a href="/team/mamatha">MAMATHA</a>
        </div>
        
      </div> <!--end class team -->
    </div>  <!--end id team-thumb-->
    </nav>

    <div id="teamDes">
      <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Consectetur ut perspiciatis magni eveniet repudiandae, ullam nam quibusdam fuga voluptas 
        doloremque natus architecto distinctio dolore nesciunt suscipit, illo qui pariatur nisi!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Consectetur ut perspiciatis magni eveniet repudiandae, ullam nam quibusdam fuga voluptas 
        doloremque natus architecto distinctio dolore nesciunt suscipit, illo qui pariatur nisi!"</p>
    </div>

  </section>
    {{{body}}}

    <script src="/js/main.js"></script>
  </body>
</html>
