<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

        <header>
      <h1>This is the main page</h1>

    <nav>
      <a href="/team/tonya">TONYA</a>
      <a href="/team/evica">EVICA</a>
      <a href="/team/sian">SIAN</a>
      <a href="/team/doyeon">DOYEON</a>
      <a href="/team/mamatha">MAMATHA</a>
    </nav>
    </header>

    <h1>This is a static content. Template below accepts dynamic content.</h1>
    <hr>
    {{{body}}}
    <hr>
    <h3>Back to static Content</h3>
    <script src="/js/main.js"></script>
  </body>
</html>
