<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/main.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap" rel="stylesheet">

  </head>
  <body>

  <header>
    <h1 class="hidden">PLAY FAIR</h1>
  </header>

  <nav id="navbar">
    <img src="/images/logo_white.svg">
  </nav> 

  <section id="landing">
    <div id="teamIntro">
      <h2>Together we stand for the LGBTQ+ community</h2>
      <h3>Interactive Media Design Students - Fanshawe College</h3>
    </div>
    {{{ body }}}
  </section>

    <script src="/js/main.js"></script>
  </body>
</html>
