<!-- snippet of HTML that representsa team member -->

<section>
  <div>
    <h2><a href="/">Meet Our Team!</a></h2>
  </div>
  <div>
    <h3>{{ person.name }}</h3>
    <p>{{ person.role }}</p>

    <img src="/images/{{person.avathar}}" alt="{{person.name}}'s image">
  </div>
</section>