#teamIntro {
  line-height: 40px;
  margin-bottom: 50px;
}

#teamThumb {
  padding: 10px 30px 60px 30px;
  max-width: 1200px;
  margin: auto;
}

#teamThumb h2 {
  margin-bottom: 40px;
}

.team{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team img {
  margin-bottom: 15px;
}

.teamMember {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.teamMember img {
  width: 180px;
  height: 180px;
}

#teamDes {
  max-width: 800px;
  margin: auto;
  padding-bottom: 50px;
}

#teamDes p {
  line-height: 25px;
  padding: 0 20px;
}