@media screen and (max-width: 950px) {
  .team {
    flex-wrap: wrap;
  }

  .teamMember {
    flex-grow: 1;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
  }
  
  .teamMember img {
    width: 150px;
    height: 150px;
  }

  #teamDes p {
    line-height: 25px;
    padding: 0 50px;
  }
  
}