@media screen and (max-width: 768px) {
  .team {
    flex-wrap: wrap;
  }

  .teamMember {
    flex-grow: 1;
    margin-bottom: 20px;
  }
  
  .memberImg img {
    width: 200px;
    height: 200px;
  }
  
}