@media screen and (max-width: 950px) {
  .team {
    flex-wrap: wrap;
  }

  #teamIntro h2 {
    padding: 10px;
  }

  #teamIntro h3 {
    font-size: 14px;
    padding: 0 25px;
  }

  .teamMember {
    flex-grow: 1;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
  }
  
  .teamMember img {
    width: 150px;
    height: 150px;
  }

  #teamDes p {
    line-height: 25px;
    padding: 0 50px;
  }

  .memberInfo p {
    padding: 20px 30px;
  }
  
}